
* {
  box-sizing: border-box;
}

html, 
body {
  margin: 0;
  padding: 0;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 18px;
  font-weight: 400;
  user-select: none;
}

.app {
  min-height: 100vh;
}

.light {
  background-color: #F2F2F2;
}

.dark {
  background-color: #171823;
}

h1, h2, h3, h4 {
  margin: 0;
}

header > img,
header {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

header {
  position: relative;
}

.headings-container {
  width: 100%;
  border: 1px solid red;
  position: absolute;
  left: 0;
  top: 0;
  padding: 48px 24px 40px 24px ;
  z-index: 100;
}

.headings {
  width: 100%;
  max-width: 500px;
  border: 1px solid red;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  margin: 0 auto;
}

.headings > h1 {
  color: #FFFFFF;
  letter-spacing: 8px;
  font-size: 28px;
  line-height: 20px;
}

.moon-icon {
  height: 20px;
  width: 20px;
}

.moon-icon:hover {
  cursor: pointer;
}

.add-todo {
  position: relative;
}

.input-field {
  width: 100%;
  height: 48px;
  border-radius: 5px;
  border: none;
  position: relative;
  padding-left: 52px;
  padding-right: 16px;
  font-family: 'Josefin Sans', sans-serif;
  caret-color: #3A7CFD;
  font-size: 16px;
}

.input-field:focus {
  outline: none;
}

.input-field-dark {
  background-color: #25273D;
  color: #C8CBE7;
}

.circle {
  position: absolute;
  top: 14px;
  left: 0;
  left: 20px;
}

.circle,
.circle-todo {
  height: 20px;
  width: 20px;
  border-radius: 100%;
  border: 1px solid #E3E4F1;
}

.circle-todo {
  display: flex;
  margin-right: 12px;
  position: relative;
  align-items: center;
  justify-content: center;
}

.circle-todo:hover {
  border: 2px solid hsl(280, 87%, 65%);
}

.container {
  padding: 0 24px;
  max-width: 500px;
  margin: 0 auto;
}

.todo .line-through {
  text-decoration: line-through;
  color: #D1D2DA;
}

.todo .line-through-dark {
  text-decoration: line-through;
  color: #4D5067;
}

.todo,
.todo-filter,
.todo-info {
  display: flex;
  align-items: center;
  background-color: #FFFFFF;
  padding: 14px 20px;
  height: 48px;
} 

.todo-info {
  justify-content: space-between;
}

.todo-items .filter-dark {
  color: #5B5E7E;
}

.todo{
  border-bottom: 1px solid #E3E4F1;
}

.bd-dark {
  border-bottom: 1px solid #393A4B;
}

.bd-full-dark {
  border: 1px solid #393A4B;
}

div .todo-dark {
  background-color: #25273D;
  box-shadow: none;
}

div .todo-dark .todo-description {
  color: #C8CBE7;
} 

.todo-description {
  font-size: 16px;
  margin-right: auto;
  color: #494C6B;
  line-height: 1;
}

.cross-icon:hover {
  cursor: pointer;
}

.cross-icon {
  width: 12px;
  height: 12px;
}

.items-left,
.items-clear {
  color: #9495A5;
  font-size: 12px;
}

.check-icon {
  position: absolute;
  z-index: 20;
}

.items-left {
  margin-right: auto;
}

.items-dark {
  color: #5B5E7E;
}

.items-clear:hover {
  cursor: pointer;
  color: #494C6B;
}

.items-dark-hover:hover {
  color: #E3E4F1;
}

.todo-filter{
  justify-content: center;
  gap: 18px;
  margin-top: 16px;
  box-shadow: 0px 35px 50px -15px rgba(194, 195, 214, 0.5);
}

.filter {
  font-size: 14px;
  color: #9495A5;
  font-weight: 700;
  transition: color 0.5s;
}

.filter:hover {
  color: #494C6B;
  cursor: pointer;
}

#selected {
  color: #3A7CFD;
}

.reorder-text {
  color: #9495A5;
  font-size: 14px;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 72px;
}

.fill {
  background-image: linear-gradient( 45deg, hsl(192, 100%, 67%),hsl(280, 87%, 65%));
}

ul {
  padding: 0;
  box-shadow: 0px 35px 50px -15px rgba(194, 195, 214, 0.5);
  margin: 0;
}

.ul-dark {
  box-shadow: none;
}

ul li:nth-child(1){
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.items-left {
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom: none;
}

#filter-menu-big {
  display: none;
}

.filter-big-screen-dark > p{
  color: #5B5E7E;
}

.filter-big-screen-dark > p:hover {
  color: #E3E4F1;
}

@media (min-width: 500px){
  #filter-menu-big {
    display: flex;
  }
  .todo-filter {
    border: 1px solid red;
    background-color: none;
  }

  #filter-menu-small {
    display: none;
  }

  .items-left {
    margin: 0;
  }

  .headings {
    width: 500px;
  }

  .filter-big-screen {
    display: flex;
    gap: 1rem;
  }
}